<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axios Search</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/style.css">

    <style>
        body {
            background-image: url("/img/photoshopsa.png");
        }
    </style>

</head>
<body>
<br>
<div class="container">
    <div class="searchContainer bg-light bg-opacity-75 border border-0 p-2">
        <br><br>
        <h3>Введіть назву фільму, який ви бажаєте знайти</h3>
        <form class="formSearching">

            <br>
            <input type="text" class="form-select w-100 bg-light border-0" id='SearchMess' placeholder="Введіть фільм, який бажаєте знайти.">

        </form>
        <br>
    </div>
</div>
<div class="container">
    <div class="row align-items-baseline" id="filmSearch">
    </div>
</div>

<!-- <h1>Dazai</h1> подкл -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

</body>
</html>
