<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Success</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h2 class="mt-4">Registration Successful</h2>
    <div class="alert alert-success" role="alert">
        Your registration was successful! Here are the details:
        <ul>
            <li><strong>Name:</strong> [[${username}]]</li>
            <li><strong>Email:</strong> [[${email}]]</li>
            <li><strong>Password:</strong> [[${password}]]</li>
        </ul>
    </div>
</div>
</body>
</html>
